@import "~ng-admin/lib/sass/ng-admin.scss";

//header-nav {
//  background-color: rebeccapurple;
//}
.navbar-static-top {
  background-color: rebeccapurple;
}
.logo-container{
  width:auto;
  height:100%;
}
.logo-container img {
  width:auto;
  height:100%;
}
